table.messenger-profile-table {
    width: 100%;
}

td.messenger-user-id label {
    margin-right: 20px;
}

td.messenger-user-id input {
    width: 60px;
    text-align: center;
}

th.messenger-header-name, .messenger-user-name {
    text-align: left;
    padding-left: 20px;
}

th.messenger-header-photo {
    width: 100px;
}

td.messenger-user-image img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    border-radius: 40%;
}

.messenger-profile {
    border-bottom: 1px solid #ccc;
}

.messenger-profile img {
    width: 80px;
    height: 80px;
    border-radius: 40%;
}

.messenger-profile span {
    font-weight: bold;
}
