.contact-form-wrap .content-form-control {
    width: 100%;
    margin: 25px auto;
    display: block;
    padding: 6px 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Helvetica', sans-serif;
}

.contact-form-wrap .contact-form-group {
    position: relative;
}

.contact-form-wrap .contact-form-group:before {
    position: absolute;
    display: block;
    content: '';

    bottom: 0;
    left: 0;
    right: 0;
    height: 0.02em;
    background-color: #CBCBCB;
}

.contact-form-wrap .has-error.contact-form-group:before {
    background-color: #bc0808;
}

.contact-form-wrap .content-form-control:active, .contact-form-wrap .content-form-control:hover, .contact-form-wrap .content-form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-form-wrap {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.contact-form-wrap .paper-plane {
    display: block;
    margin: 35px auto;
}

.contact-form-wrap .text-center {
    text-align: center;
}

.contact-form-wrap .contact-form-btn {
    background-color: #656565;
    border-radius: 2px;
    font-size: 1em;
    font-weight: 100;
    padding: 14px 60px;
    color: #fff;
    border: none;
    -webkit-transition: all 0.32s ease 0s;
    transition: all 0.32s ease 0s;
}

.contact-form-wrap .contact-form-btn:hover, .contact-form-wrap .contact-form-btn:focus {
    background-color: #272727;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #c9c9c9;
}

.contact-form-wrap .contact-form-btn:active {
    background-color: #c9c9c9;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #c9c9c9;
}
.contact-form-wrap .contact-form-group .control-msg {
    position: absolute;
    top: 2px;
    right: 2%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid;
    padding: 2px 5px;
}

.contact-form-wrap .text-danger, .contact-form-wrap .submit-success, .contact-form-wrap .submit-info, .contact-form-wrap .submit-error {
    display: none;
}

.contact-form-wrap .text-danger, .contact-form-wrap .submit-error {
    color: #bc0808;
}
.contact-form-wrap .submit-success {
    color: limegreen;
}
.contact-form-wrap .submit-info {
    color: #4e4eff;
}

.contact-form-wrap .has-error .text-danger {
    display: block;
}

.contact-form-wrap .js-show-feedback {
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
